<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Recipe</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="recipe" type="com.mk.recipeproject.model.Recipe"*/-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-10">
                                    <h1 class="panel-title" th:text="${recipe.getDescription()}">Recipe name</h1>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-default" href="#" th:href="@{'/'}" role="button">Home</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Categories:</h5>
                                </div>
                                <div class="col-md-9">
                                    <p th:text="${recipe.getCategories().getRecipeCategories()}"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Preparation time:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.getPrepTime()} + ' min'">30 min</p>
                                </div>
                                <div class="col-md-3">
                                    <h5>Difficulty:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.getDifficulty()}">Easy</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Cooking time:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.getCookTime()} + ' min'">25 min</p>
                                </div>
                                <div class="col-md-3">
                                    <h5>Servings:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${recipe.getServings()}">4</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Url:</h5>
                                </div>
                                <div class="col-md-9">
                                    <p th:text="${recipe.getUrl()}">www.example.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <h1 class="panel-title">Ingredients</h1>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <p th:text="${recipe.ingredients.recipeIngredients}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Directions</h1>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <p th:text="${recipe.getDirections()}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Notes</h1>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <p th:text="${recipe.getNotes().getRecipeNotes()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>